 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1812px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 332px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 21px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 285px;
  height: 225px;
  margin: -173px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 0 21px;
}

.u-section-1 .u-text-3 {
  width: 634px;
  margin: 173px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 408px;
  margin: 65px -295px 0 296px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-style: normal;
  margin: -408px 691px 0 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 408px;
  margin: 386px -295px 0 296px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-style: normal;
  margin: -408px 691px 0 0;
}

.u-section-1 .u-text-6 {
  width: 475px;
  margin: 265px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1912px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 491px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1869px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 271px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 91px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
  }
}