 .u-section-1 {
  background-image: url("images/rfr-min.jpg");
  background-position: 100% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-1 .u-text-1 {
  margin: 150px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -56px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 23px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 65.32% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 594px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 419px;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 883px 0 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  font-weight: 500;
  margin: 19px 50px 0;
}

.u-section-2 .u-text-3 {
  margin: 38px 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 713px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 493px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 113px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 141px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 25px auto 0;
  padding: 10px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 377px;
  height: 297px;
  margin: 0 97px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 320px;
  margin: -47px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 526px;
  }

  .u-section-3 .u-image-1 {
    height: 508px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 517px;
    height: 290px;
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 638px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 24px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-3 .u-image-1 {
    height: 373px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    width: 396px;
    height: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-3 .u-image-1 {
    height: 527px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-3 .u-image-1 {
    height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 191px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 638px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 141px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 25px auto 0;
  padding: 10px 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 507px;
  height: 338px;
  margin: 110px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 526px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 638px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 24px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-4 .u-image-1 {
    width: 396px;
    height: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 550px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}